.main {
  background-color: var(--primary-color);
  height: 100vh;
  width: 100vw;
  padding: 20px 60px;
}
.main-content {
  height: 100%;
}
.main-table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.room-info {
  display: flex;
}

.room-info__code {
  background-color: var(--white-color);
  display: flex;
  height: 40px;
  text-align: center;
  font-size: 1.4rem;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  box-shadow: 0 2px 1px var(--shadow-color);
  color: var(--text-color);
}

.dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #806c6c6b;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px var(--shadow-color);
  justify-content: space-between;
  height: 160px;
}

.dealer__name {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.4rem;
  color: white;
  margin-bottom: 5px;
}

.player-bet-done {
  border: 3px solid #0dcaf0;
}

.player-area {
  margin-top: 80px;
  display: flex;
  /* justify-content: space-evenly; */
}

.exit {
  display: flex;
  align-items: flex-end;
}

.player-bet {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.player-bet__input {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.4rem;
  height: 40px;
}

.player-bet__btn {
  margin-top: 10px;
  background-color: aqua;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #806c6c6b;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px var(--shadow-color);
  justify-content: space-between;
  height: 160px;
}
.current-player-bet-done {
  border: 4px solid #0dcaf0;
}
.turn-current-player,
.turn-dealer {
  border: 4px solid greenyellow;
}
.turn-player {
  border: 3px solid greenyellow;
}
.notification-turn-player {
  color: red;
  text-align: center;
  position: absolute;
  margin-top: -100px;
}
.turn-current-player-name {
  color: greenyellow;
}
.player__name {
  font-size: 1.7rem;
  line-height: 1.4rem;
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
}

.player-control {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.done-btn {
  margin-top: 10px;
}

.player-bet__btn:disabled {
  cursor: not-allowed;
  background-color: grey;
}

.card-list-current-player {
  background-color: initial;
}

.card-list-dealer {
  background-color: initial;
}
.toast-body {
  height: 40px;
  text-align: center;
  font-size: 1.7rem;
  background-color: chartreuse;
  font-weight: 600;
  color: white;
}
.btn-plug-out {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
.btn-done {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.btn-plug-out:disabled,
.btn-done:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

/* --------------- */
.list-player-item {
  margin: 0 30px 50px;
  border-radius: 10px;
  background-color: #806c6c6b;
}
.every-teammate {
  height: 100%;
}
.turn-player .notification-turn {
  color: orangered;
  text-align: center;
  margin-top: -35px;
  margin-bottom: 30px;
}
.every-teammate .header-item {
  height: 30px;
}
.every-teammate .body-item {
  height: 70px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
}
.every-teammate .body-item .player-card-item {
  width: 60px;
  height: auto;
}
.list-player {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.check-card-player {
  display: none;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
  border-radius: 10px;
  cursor: pointer;
}
.check-card-player .content-check-card-player {
  margin: 0 8px;
}
